.shadow {
  composes: beauty from "../App.module.css";
}

.infoInput {
  border: 1px solid blue;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  composes: shadow;
}

.userInput {
  border: 1px solid green;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px;
  composes: shadow;
}

.passwordInput {
  border: 1px solid red;
  background-color: black;
  color: red;
  padding: 5px;
  margin: 5px;
  composes: shadow;
}
